<template name="forgotPassword">
    <form id="forgotPasswordForm" class="ui form segment">
        <div class="field">
            <label>{{t9n 'email'}}</label>

            <div class="ui left labeled icon input">
                <input type="text" placeholder="{{t9n 'emailAddress'}}" id="email">
                <i class="mail icon"></i>

                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>
        <div class="center aligned column">
            <div class="ui fluid submit button">{{t9n 'emailResetLink'}}</div>
        </div>
        <div class="ui horizontal divider">
            Or
        </div>
        <div class="center aligned column">
            <div class="green ui labeled icon button" id="signInButton">
                <i class="sign in icon"></i>
                {{t9n 'signIn' }}
            </div>
        </div>
    </form>
</template>