<template name="resetPasswordView">
    <form class="ui form" id="resetPasswordForm">

        <div class="field">
            <label>{{t9n 'password'}}</label>
            <div class="ui icon input">
                <input type="password" placeholder="{{t9n 'password'}}" id="password">
                <i class="lock icon"></i>
                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>
        <div class="field">
            <label>{{t9n 'passwordAgain'}}</label>
            <div class="ui icon input">
                <input type="password" placeholder="{{t9n 'passwordAgain'}}" id="password-again">
                <i class="lock icon"></i>
                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>
        <div class="center aligned column">
            <div class="ui red fluid submit button">{{t9n 'resetYourPassword'}}</div>
        </div>
        <div class="ui horizontal divider">
            Or
        </div>
        <div class="center aligned column">
            <div class="green ui labeled icon button" id="signInButton">
                <i class="sign in icon"></i>
                {{t9n 'signIn' }}
            </div>
        </div>
    </form>
</template>