<template name="signOut">
    {{#if signOutTemplate}}
        {{> Template.dynamic template=signOutTemplate}}
    {{else}}
        <div class="center aligned column">
            {{ t9n 'welcome' }}
        </div>
    {{/if}}
    <!--<form class="ui form" id="signUpForm">-->
        <!--<div class="center aligned column">-->
            <!--<div class="red ui labeled icon button" id="signOutButton">-->
                <!--<i class="sign out icon"></i>-->
                <!--{{t9n 'signOut' }}-->
            <!--</div>-->
        <!--</div>-->

    <!--</form>-->
</template>